.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  height: 50px;
}

button {
  width: 80px;
  height: 40px;
  outline: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  width: 85px;
  height: 45px;
}

